# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Datos temporales
data/temp/
*.pdf
*.docx
logs/
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb
.env
